.navbar {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  height: 100%;
  width: 100%;
  justify-content: space-between !important;
  /* padding: var(--mantine-spacing-md); */
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  transition: width 0.3s ease;
}

.navLink {
  padding: var(--mantine-spacing-md) !important;
  &:hover {
    background-color: var(--mantine-color-orange-light-hover);
  }
  &[data-active='true'] {
    color: var(--mantine-color-orange-7);
    font-weight: 600;
    & .badge {
      color: var(--mantine-color-orange-9);
    }
  }
}
